In [1]:
%load_ext dotenv
%dotenv

In [2]:
import pandas as pd
from ch07_tools import get_answer
from datasets import Dataset
from ragas import evaluate
from ragas.metrics import answer_correctness
from tqdm import tqdm
from utils import neo4j_driver

/Users/tomazbratanic/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
/Users/tomazbratanic/anaconda3/lib/python3.11/site-packages/pydantic/_internal/_fields.py:132: UserWarning: Field "model_name" in _VertexAIBase has conflict with protected namespace "model_".

You may be able to resolve this warning by setting `model_config['protected_namespaces'] = ()`.
  warnings.warn(
/Users/tomazbratanic/anaconda3/lib/python3.11/site-packages/pydantic/_internal/_fields.py:132: UserWarning: Field "model_name" in _VertexAICommon has conflict with protected namespace "model_".

You may be able to resolve this warning by setting `model_config['protected_namespaces'] = ()`.
  warnings.warn(

In [3]:
get_answer("How many movies are there?")

'There are 38 movies in total.'

In [4]:
test_data = pd.read_csv("../data/benchmark_data.csv", delimiter=";")
test_data.head()

,question,cypher
0,How many movies are there?,MATCH (m:Movie) RETURN count(*) AS movies
1,Who acted in the most movies?,MATCH (p:Person)-[:ACTED_IN]->(m:Movie)\nRETUR...
2,Which movies released between 1990 and 2000 ha...,MATCH (m:Movie) WHERE m.released >= 1990 AND m...
3,Who has the longest name among all actors?,MATCH (p:Person)-[:ACTED_IN]->(:Movie) RETURN ...
4,List people born before 1940.,MATCH (p:Person) WHERE p.born < 1940 RETURN p....

In [5]:
answers = []
ground_truths = []

for i, row in tqdm(test_data.iterrows(), total=len(test_data), desc="Processing rows"):
    ground_truth, _, _ = neo4j_driver.execute_query(row["cypher"])
    ground_truths.append([str(el.data()) for el in ground_truth])
    try:
        answer = get_answer(row["question"])
    except Exception:
        answer = None
    answers.append(answer)

Processing rows: 100%|██████████| 10/10 [02:05<00:00, 12.57s/it]

In [6]:
test_data['ground_truth'] = [str(el) for el in ground_truths]
test_data['answer'] = answers

In [7]:
dataset = Dataset.from_pandas(test_data.fillna("I don't know"))
result = evaluate(
    dataset,
    metrics=[
        answer_correctness
    ]
)
print(result)

Evaluating:   0%|          | 0/10 [00:00<?, ?it/s]

{'answer_correctness': 0.7965}

In [8]:
test_data["answer_correctness"] = [el["answer_correctness"] for el in result.scores]
test_data

,question,cypher,ground_truth,answer,answer_correctness
0,How many movies are there?,MATCH (m:Movie) RETURN count(*) AS movies,"[""{'movies': 38}""]",There are 38 movies in total.,0.957427
1,Who acted in the most movies?,MATCH (p:Person)-[:ACTED_IN]->(m:Movie)\nRETUR...,"[""{'p.name': 'Tom Hanks', 'movieCount': 12}""]",The information is missing to answer the quest...,0.187045
2,Which movies released between 1990 and 2000 ha...,MATCH (m:Movie) WHERE m.released >= 1990 AND m...,"[""{'m.title': 'The Matrix', 'm.released': 1999...","The movie ""The Matrix"" was released between 19...",0.946716
3,Who has the longest name among all actors?,MATCH (p:Person)-[:ACTED_IN]->(:Movie) RETURN ...,"[""{'name': 'Philip Seymour Hoffman'}""]",None,0.178691
4,List people born before 1940.,MATCH (p:Person) WHERE p.born < 1940 RETURN p....,"[""{'p.name': 'Max von Sydow'}"", ""{'p.name': 'G...",The people born before 1940 are:\n\n- Max von ...,0.947563
5,Who was born in 1965 and has directed a movie?,MATCH (p:Person)-[:DIRECTED]->(m:Movie) WHERE ...,"[""{'p.name': 'Lana Wachowski'}"", ""{'p.name': '...",Lana Wachowski and Tom Tykwer were born in 196...,0.949029
6,Who acted in Top Gun?,MATCH (p:Person)-[:ACTED_IN]->(m:Movie {title:...,"[""{'p.name': 'Val Kilmer'}"", ""{'p.name': 'Meg ...","The actors in the movie ""Top Gun"" are Val Kilm...",0.950795
7,"List the movies with a title starting with ""The""","MATCH (m:Movie) WHERE m.title STARTS WITH ""The...","[""{'m.title': 'The Birdcage'}"", ""{'m.title': '...","The movies with a title starting with ""The"" ar...",0.953924
8,How many movies did Tom Hanks appear in?,"MATCH (p:Person {name: ""Tom Hanks""})-[:ACTED_I...","[""{'numberOfMovies': 12}""]",Tom Hanks appeared in 12 movies.,0.947381
9,Who played in the Matrix?,MATCH (p:Person)-[:ACTED_IN]->(m:Movie {title:...,"[""{'p.name': 'Emil Eifrem'}"", ""{'p.name': 'Hug...","The actors who played in ""The Matrix"" are Emil...",0.946806